/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0px;
}
.container .text-muted {
  margin: 20px 0;
}

/* Sticky header styles
-------------------------------------------------- */
#header{
  width: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 64px;
  height: 64px;
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 20px;
  transition: all 0.9s ease;
}

#header.sticky {
  position: fixed;
  transform: translateY(0px);
  transition: 200ms background-color,200ms color;
}

div #main-message {
  background-color: #545454;
  padding: 60px;
  min-height: 550px;
  color: #fafafa;
  font-size: 46px;
  text-align: center;
  width: auto;
}

div #hubs {
  min-height: 550px;
  color: #151515;
  text-align: center;
  background-color: #fff;
  font-size: 24px;
}

.hub h2 {
  font-size: 46px;
}

.hub {
  border-right: 1px solid red;
}

.hub:last-child {
  border-right: none;
}

.footer {
  height: 260px;
  padding: 50px;
}

