/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0;
}
.container .text-muted {
  margin: 20px 0;
}

/* Sticky header styles
-------------------------------------------------- */
#header{
  width: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 64px;
  height: 64px;
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 20px;
  transition: all 0.9s ease;
}

#header.sticky {
  position: fixed;
  transform: translateY(0px);
  transition: 200ms background-color,200ms color;
}

